/TUAN3/lab2/nbproject/private/
/TUAN3/lab2/build/
/TUAN3/lab3/nbproject/private/
/TUAN3/lab3/build/
/TUAN3/Bai7practices/nbproject/private/
/TUAN3/Bai7practices/build/
/TUAN3/Bai6parctices/nbproject/private/
/TUAN3/Bai6parctices/build/
/TUAN4/BooKSuppliersApp/nbproject/private/